  .notepad-dlg-search {
    z-index: 10;
  }
  
  .notepad-dlg-search .dialogbox {
    height: 165px;
    width: 470px;
  }
  .notepad-dlg-search .notepad-dlg-titlebar{
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    height:40px;
    background-color:#fff;
    display:flex;
    align-items:center;
  }
  .notepad-dlg-search .notepad-dlg-titlebar .title{
    cursor:default;
    margin-left:20px;
  }
  .notepad-dlg-search .notepad-dlg-titlebar .close-btn{
    cursor:default;
    margin-left:385px;
  }

  .notepad-dlg-search .main {
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    background-color:#F0F0F0;
    height: 160px;
    padding: 6px;
  }
 
  .notepad-dlg-search .main .capital{
    margin-bottom:10px;
  }
  .notepad-dlg-search .main .txt-content {
    box-sizing: border-box;
    height: 26px;
    margin: 10px;
    width: 224px;
  }
  
  .notepad-dlg-search .main .btn-search {
    position: absolute;
    width:100px;
    right: 15px;
    top: 17px;
  }
  
  .notepad-dlg-search .main .btn-cancel {
    width:100px;
    bottom: 67px;
    position: absolute;
    right: 15px;
  }
  
  .notepad-dlg-search .main .search-direction {
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 60px;
    left: 150px;
    padding: 10px 5px;
    position: absolute;
    top: px;60
    width: 175px;
  }
  
  .notepad-dlg-search .main input[value="down"] {
    margin-left: 5px;
  }
  
  .notepad-dlg-search .main input[value="capital-sense"] {
    margin-top: 30px;
  }
